<div class="container">
<div class="mb-5">
    <h1 class="display-6">הוספת תלמיד</h1>
</div>


<form action="/add" method="post">
<div class="mb-3">
  <label class="form-label">שם פרטי</label>
 <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="שם פרטי">
</div>
<div class="mb-3">
  <label class="form-label">שם משפחה</label>
 <input type="text" name="last" class="form-control" id="exampleFormControlInput1" placeholder="שם משפחה">
</div>
<div class="mb-3">
  <label class="form-label">כתובת מייל</label>
  <input type="email" name="mail" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
     <button class="btn btn-primary" type="submit">הוסף</button>
</div>

</form>

</div>