<div class="container">
    <h1 class="display-4">ממוצע</h1>
    <div class="card w-50 mt-5">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{avg}}</p>
   <a href="http://localhost:3000/student/{{id}}" class="btn btn-primary">חזרה</a>
  </div>
</div>
<button class="btn btn-outline-primary mt-4" onclick="window.print()">הדפס &#x1F5B6;</button>
</div>