<div class="err-alert">
<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
  <div class="card-header">שגיאה</div>
  <div class="card-body">
    <h5 class="card-title">אופס אירעה שגיאה</h5>
    <p class="card-text">אין ציונים לתלמיד זה <a href="http://localhost:3000/student/add-score/{{id}}">לחץ כאן להוספת ציון</a></p>
  </div>
</div>
</div>