<div class="container">

<div class="mb-5">
    <h1 class="display-6">update student</h1>
</div>

<form action="/update/{{id}}" method="post">
<div class="mb-3">
  <label class="form-label">first name</label>
  <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="name">
</div>
<div class="mb-3">
  <label class="form-label">last name</label>
 <input type="text" name="last" class="form-control" id="exampleFormControlInput1" placeholder="last name">
</div>
<div class="mb-3">
  <label class="form-label">email addres</label>
 <input type="email" name="mail" class="form-control" id="exampleFormControlInput1" placeholder="example@mail.com">
</div>
<div class="mb-3">
     <button class="btn btn-primary" type="submit">update</button>
</div>


</form>

</div>